* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #002f6c;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #002f6c;
    padding: 15px 0;
    margin: 20px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e0c216;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #002f6c;
    margin-bottom: 15px;
    border-bottom: 2px solid #002f6c;
    padding-bottom: 10px;
}

section ul {
    list-style: none;
}

section ul li {
    margin-bottom: 10px;
}

section ul li a {
    color: #002f6c;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

section ul li a:hover {
    color: #e0c216;
}

footer {
    text-align: center;
    padding: 15px;
    background-color:#002f6c;
    color: white;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

footer p {
    margin: 10px 0;
}
footer a:hover {
    color: #e0c216;
}

footer i {
    margin-right: 5px;
}

@media screen and (max-width: 480px)  {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1.2em;
        
    }
    
    h4 {
        font-size: 0.9em;
       
    }
}